<h1>Welcome to FreeShelf!</h1>

<%= link_to "Log in to FreeShelf", new_session_path %><br />
<br />
<%= link_to "Register an account with FreeShelf", new_user_path %><br />
<br />
<%= link_to "View Book Collection", controller: "books" %>
